# Module 3 Practice

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [5]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [6]:
soup = BeautifulSoup(response, 'html.parser')

In [17]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [20]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

In [26]:
df['age'] = df['age'].astype(str).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

In [30]:
df['age'].mean()

np.float64(29.875)

In [31]:
df['age'].std()

np.float64(3.563204817496262)